ЗАПИСЬ В CSV-ФАЙЛ

In [3]:
import pandas as pd

In [6]:
# Экспорт данных в формат csv осуществляется с помощью метода DataFrame to_csv().

# Основные параметры DataFrame to_csv():

In [7]:
# path_or_buf — путь до файла, в который будет записан DataFrame (например, data/my_data.csv);
# sep — разделитель данных в выходном файле (по умолчанию ',');
# decimal — разделитель чисел на целую и дробную части в выходном файле (по умолчанию '.');
# columns — список столбцов, которые нужно записать в файл (по умолчанию записываются все столбцы);
# index — параметр, определяющий, требуется ли создавать дополнительный столбец с индексами строк в файле (по умолчанию True).

In [8]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

ЧТЕНИЕ CSV-ФАЙЛА

In [9]:
# Для чтения таблицы из csv-файла используется функция модуля Pandas read_csv. Функция возвращает DataFrame и имеет несколько важных параметров.

# Основные параметры DataFrame read_csv:

In [10]:
# filepath_or_buffer — путь до файла, который мы читаем;
# sep — разделитель данных (по умолчанию ',');
# decimal — разделитель чисел на целую и дробную часть в выходном файле (по умолчанию '.');
# names — список с названиями столбцов для чтения;
# skiprows — количество строк в файле, которые нужно пропустить (например, файл может содержать служебную информацию, которая нам не нужна).

In [11]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

ЧТЕНИЕ CSV-ФАЙЛА ПО ССЫЛКЕ

In [13]:
data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')

ЗАПИСЬ И ЧТЕНИЕ В ДРУГИХ ФОРМАТАХ

In [14]:
# Методы для записи таблиц в файлы отличных от csv форматов:

# to_excel() — запись DataFrame в формат Excel-таблицы (.xslx);
# to_json() — запись DataFrame в формат JSON (.json);
# to_xml() — запись DataFrame в формат XML-документа (.xml);
# to_sql() — запись DataFrame в базу данных SQL (для реализации этого метода необходимо установить соединение с базой данных).

In [15]:
# Методы для чтения таблиц из файлов в отличных от csv форматах:

# read_excel() — чтение из формата Excel-таблицы(.xslx) в DataFrame;
# read_json() — чтение из формата JSON (.json) в DataFrame;
# read_xml() — чтение из формата XML-документа (.xml) в DataFrame;
# read_sql() — чтение из базы данных SQL в DataFrame (также необходимо установить соединение с базой данных).