In [3]:
import pandas as pd

student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [5]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
student_data.shape

(1000, 8)

In [10]:
student_data.loc[155, 'writing score']

88

In [13]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [14]:
student_data['math score'].mean()

66.089

In [15]:
student_data['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [18]:
read_skills = student_data[(student_data['test preparation course'] == 'completed')]['reading score'].mean()
round(read_skills)

74

In [19]:
student_data['math score'].value_counts()

65    36
62    35
69    32
59    32
61    27
      ..
24     1
26     1
28     1
33     1
0      1
Name: math score, Length: 81, dtype: int64

In [21]:
rich = student_data[(student_data['lunch'] == 'standard')]['math score'].mean()
poor = student_data[(student_data['lunch'] == 'free/reduced')]['math score'].mean()

In [25]:
round(rich)

70

In [24]:
round(poor)

59

In [54]:
have = student_data[(student_data['parental level of education'] == "bachelor's degree")].shape[0]
percent = (have / 1000) * 100
round(percent)

12

In [65]:
group_a = student_data[(student_data['race/ethnicity'] == 'group A')]['writing score'].median()
group_b = student_data[(student_data['race/ethnicity'] == 'group C')]['writing score'].mean()
difference_ab = group_a - group_b
round(abs(difference_ab))

6